/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/common/_common.scss */
body {
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 6, ../sass/common/_common.scss */
*:focus {
  outline: none;
}

/* line 10, ../sass/common/_common.scss */
a {
  color: #575757;
  text-decoration: none;
}
/* line 14, ../sass/common/_common.scss */
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 20, ../sass/common/_common.scss */
.container {
  width: 960px;
  margin: 0 auto;
}

/* line 26, ../sass/common/_common.scss */
.clearfix:after {
  clear: both;
  content: '';
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
  text-indent: 9999px;
}

/* line 37, ../sass/common/_common.scss */
.left {
  float: left;
}

/* line 41, ../sass/common/_common.scss */
.right {
  float: right;
}

/* line 45, ../sass/common/_common.scss */
.triangle {
  position: relative;
  margin: 0 10px 0 0;
}
/* line 49, ../sass/common/_common.scss */
.triangle:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -12px;
  top: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.9px 4px 0 4px;
  border-color: #717171 transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}

/* line 64, ../sass/common/_common.scss */
.border-dot-right {
  border-right: 1px dotted #bfbfbf;
}

/* line 68, ../sass/common/_common.scss */
.header-row {
  position: relative;
  background: #f3f3f3;
  font-size: 22px;
  color: #484848;
  margin-bottom: 10px;
  padding: 10px;
}

/* line 77, ../sass/common/_common.scss */
.divider {
  width: 100%;
  border-bottom: 1px dotted #bfbfbf;
  margin: 25px 0;
}

/* line 83, ../sass/common/_common.scss */
.mobile-nano {
  visibility: hidden;
}

/* line 144, sprites/*.png */
.sprites-sprite, .sprite.arrows, .sprite.fb, .sprite.tw, .sprite.tube, .sprite.globe, .sprite.mail, .sprite.phone, .sprite.search, .sprite.l-arrow, .sprite.r-arrow, .sprite.slogo {
  background-image: url('/images/sprites-sb613492822.png');
  background-repeat: no-repeat;
}

/* line 3, ../sass/common/_sprites.scss */
.sprite {
  display: inline-block;
  content: '';
}
/* line 7, ../sass/common/_sprites.scss */
.sprite.arrows {
  background-position: 0 0;
}
/* line 10, ../sass/common/_sprites.scss */
.sprite.fb {
  background-position: 0 -7px;
  width: 22px;
  height: 22px;
}
/* line 15, ../sass/common/_sprites.scss */
.sprite.tw {
  background-position: 0 -444px;
  width: 22px;
  height: 22px;
}
/* line 20, ../sass/common/_sprites.scss */
.sprite.tube {
  background-position: 0 -422px;
  width: 22px;
  height: 22px;
}
/* line 25, ../sass/common/_sprites.scss */
.sprite.globe {
  background-position: 0 -29px;
  width: 14px;
  height: 14px;
}
/* line 30, ../sass/common/_sprites.scss */
.sprite.mail {
  background-position: 0 -174px;
  width: 14px;
  height: 14px;
}
/* line 35, ../sass/common/_sprites.scss */
.sprite.phone {
  background-position: 0 -337px;
  width: 14px;
  height: 14px;
}
/* line 40, ../sass/common/_sprites.scss */
.sprite.search {
  background-position: 0 -363px;
}
/* line 43, ../sass/common/_sprites.scss */
.sprite.l-arrow {
  background-position: 0 -44px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 15px 17px;
}
/* line 50, ../sass/common/_sprites.scss */
.sprite.r-arrow {
  background-position: 0 -352px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 15px 17px;
}
/* line 57, ../sass/common/_sprites.scss */
.sprite.slogo {
  background-position: 0 -383px;
}

/* line 1, ../sass/regions/_header.scss */
#logo {
  margin: 10px 0 0 0;
}

/* line 5, ../sass/regions/_header.scss */
.fb, .tw, .tube {
  margin: 5px 2px;
}

/* line 9, ../sass/regions/_header.scss */
.top-row {
  font-size: 12px;
  color: #575757;
}
/* line 13, ../sass/regions/_header.scss */
.top-row .social-block {
  margin-right: 20px;
}
/* line 17, ../sass/regions/_header.scss */
.top-row .language {
  background: #f3f3f3;
  padding: 4px 10px 9px;
  border-radius: 0 0 10px 10px;
  position: relative;
}
/* line 23, ../sass/regions/_header.scss */
.top-row .language:hover {
  cursor: pointer;
  border-radius: 0;
}
/* line 28, ../sass/regions/_header.scss */
.top-row .language ul {
  display: none;
  text-align: center;
  position: absolute;
  top: 28px;
  width: 100%;
  margin: 0 -10px;
  background: #f3f3f3;
  border-radius: 0 0 10px 10px;
  z-index: 92;
}
/* line 39, ../sass/regions/_header.scss */
.top-row .language ul li {
  padding: 2px 0;
}
/* line 41, ../sass/regions/_header.scss */
.top-row .language ul li:last-child {
  padding-bottom: 8px;
}
/* line 46, ../sass/regions/_header.scss */
.top-row .language:hover ul {
  display: block;
}
/* line 51, ../sass/regions/_header.scss */
.top-row .elinet {
  background: #f3f3f3;
  padding: 8px 10px 9px;
  border-radius: 0 0 10px 10px;
  margin: 0 5px;
}
/* line 58, ../sass/regions/_header.scss */
.top-row .contact {
  background: #f3f3f3;
  padding: 4px 10px 9px;
  border-radius: 0 0 10px 10px;
}

/* line 67, ../sass/regions/_header.scss */
.bottom-row nav {
  display: inline-block;
}
/* line 72, ../sass/regions/_header.scss */
.bottom-row .main-menu > li {
  display: inline-block;
  margin: 0 8px;
  position: relative;
  z-index: 9;
}
/* line 78, ../sass/regions/_header.scss */
.bottom-row .main-menu > li.parent:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10.4px 6px 0 6px;
  border-color: #ffffff transparent transparent transparent;
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  display: none;
  z-index: 9;
}
/* line 93, ../sass/regions/_header.scss */
.bottom-row .main-menu > li:hover:after {
  display: block;
}
/* line 97, ../sass/regions/_header.scss */
.bottom-row .main-menu > li:hover .drop-down {
  display: block;
}
/* line 102, ../sass/regions/_header.scss */
.bottom-row .main-menu > li > a {
  display: inline-block;
  line-height: 40px;
  height: 40px;
}
/* line 106, ../sass/regions/_header.scss */
.bottom-row .main-menu > li > a:hover {
  color: #004386;
  text-decoration: none;
}
/* line 112, ../sass/regions/_header.scss */
.bottom-row .main-menu > li .triangle:after {
  top: 17px;
}
/* line 116, ../sass/regions/_header.scss */
.bottom-row .main-menu > li .drop-down {
  position: absolute;
  top: 40px;
  left: -320px;
  background: #fafafa;
  padding: 15px 30px;
  min-width: 640px;
  font-size: 12px;
  display: none;
  z-index: 9;
}
/* line 127, ../sass/regions/_header.scss */
.bottom-row .main-menu > li .drop-down:before {
  content: '';
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 0%, #fafafa 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ededed 0%, #fafafa 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ededed 0%, #fafafa 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#fafafa',GradientType=0 );
  /* IE6-9 */
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
/* line 142, ../sass/regions/_header.scss */
.bottom-row .main-menu > li .drop-down a {
  color: #3b73b9;
}
/* line 146, ../sass/regions/_header.scss */
.bottom-row .main-menu > li .drop-down .sub-col {
  width: 200px;
}
/* line 150, ../sass/regions/_header.scss */
.bottom-row .main-menu > li .drop-down .sub-two-col {
  padding-left: 30px;
  width: 400px;
}
/* line 154, ../sass/regions/_header.scss */
.bottom-row .main-menu > li .drop-down .sub-two-col li {
  padding: 2px 0;
}
/* line 159, ../sass/regions/_header.scss */
.bottom-row .main-menu > li .drop-down .big-header {
  font-size: 16px;
}
/* line 161, ../sass/regions/_header.scss */
.bottom-row .main-menu > li .drop-down .big-header a {
  padding: 3px 0;
  display: inline-block;
}
/* line 170, ../sass/regions/_header.scss */
.bottom-row #search {
  display: inline-block;
  margin-left: 20px;
}
/* line 174, ../sass/regions/_header.scss */
.bottom-row #search input[type="text"] {
  border: none;
  background-color: #ccc;
  color: #fff;
  height: 20px;
  width: 100px;
  border-radius: 10px 0 0 10px;
  padding: 0 10px;
}
/* line 184, ../sass/regions/_header.scss */
.bottom-row #search input[type="submit"] {
  border: none;
  cursor: pointer;
  background-color: #ccc;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-indent: 999px;
  border-radius: 0 10px 10px 0;
}

/* line 1, ../sass/regions/_slider.scss */
.slider-wrap {
  width: 100%;
  overflow: hidden;
  color: #fff;
  height: 400px;
}
/* line 8, ../sass/regions/_slider.scss */
.slider-wrap .slider {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 13, ../sass/regions/_slider.scss */
.slider-wrap .slider .slide {
  height: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  display: table;
  width: 100%;
}
/* line 21, ../sass/regions/_slider.scss */
.slider-wrap .slider .slide h1 {
  font-size: 48px;
  padding-top: 70px;
  padding-bottom: 20px;
}
/* line 26, ../sass/regions/_slider.scss */
.slider-wrap .slider .slide h6 {
  font-size: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 31, ../sass/regions/_slider.scss */
.slider-wrap .slider .slide p {
  font-size: 16px;
  line-height: 23px;
  margin: 20px 50px 0;
  padding: 30px 0;
  border-top: 1px solid #fff;
}
/* line 38, ../sass/regions/_slider.scss */
.slider-wrap .slider .slide .button-primary {
  background: #3a88dc;
  color: #ffffff;
  padding: 8px 10px;
}

/* line 47, ../sass/regions/_slider.scss */
.slider-content-wrap {
  display: block;
  position: relative;
  height: 400px;
}
/* line 52, ../sass/regions/_slider.scss */
.slider-content-wrap .container {
  height: 100%;
}
/* line 56, ../sass/regions/_slider.scss */
.slider-content-wrap .slider-content {
  display: block;
  height: 100%;
  width: 42%;
  padding: 0 20px;
  position: relative;
  z-index: 9;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}
/* line 66, ../sass/regions/_slider.scss */
.slider-content-wrap .slider-content:before {
  content: '';
  display: block;
  left: -100%;
  top: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

/* line 79, ../sass/regions/_slider.scss */
.rsMinW,
.rsMinW .rsOverflow,
.rsMinW .rsSlide {
  background: transparent !important;
}

/* line 84, ../sass/regions/_slider.scss */
.rsMinW .rsBullets {
  right: 50% !important;
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -webkit-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0);
}

/* line 92, ../sass/regions/_slider.scss */
.rsMinW .rsBullet {
  padding: 6px 6px 6px 4px !important;
}

/* line 1, ../sass/regions/_whatsnew.scss */
.whats-new {
  margin: 30px 0;
}
/* line 4, ../sass/regions/_whatsnew.scss */
.whats-new .arrow {
  position: absolute;
  width: 41px;
  height: 41px;
  background: #c3c3c3;
  top: 0;
  right: 0;
}
/* line 12, ../sass/regions/_whatsnew.scss */
.whats-new .arrow:first-child {
  right: 43px;
}
/* line 17, ../sass/regions/_whatsnew.scss */
.whats-new .w-slider {
  overflow: hidden;
}
/* line 20, ../sass/regions/_whatsnew.scss */
.whats-new .w-slider .w-slider-wrapper {
  width: 990px;
}
/* line 24, ../sass/regions/_whatsnew.scss */
.whats-new .w-slider .w-slider-wrapper article {
  display: inline-block;
  position: relative;
  margin-right: 15px;
}
/* line 29, ../sass/regions/_whatsnew.scss */
.whats-new .w-slider .w-slider-wrapper article .w-description {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.6);
  min-height: 100px;
}
/* line 38, ../sass/regions/_whatsnew.scss */
.whats-new .w-slider .w-slider-wrapper article .w-description h3 {
  font-size: 20px;
  padding: 10px 10px 0 10px;
}
/* line 42, ../sass/regions/_whatsnew.scss */
.whats-new .w-slider .w-slider-wrapper article .w-description h3 a {
  color: #ffffff;
}
/* line 47, ../sass/regions/_whatsnew.scss */
.whats-new .w-slider .w-slider-wrapper article .w-description p {
  padding: 10px;
}

/* line 56, ../sass/regions/_whatsnew.scss */
.slick-next.slick-arrow,
.slick-prev.slick-arrow {
  display: none !important;
}

/* line 1, ../sass/regions/_tools.scss */
.tools {
  display: inline-block;
  width: 630px;
  margin-right: 27px;
}
/* line 6, ../sass/regions/_tools.scss */
.tools article {
  display: inline-block;
  width: 303px;
  min-height: 110px;
  margin-bottom: 30px;
}
/* line 12, ../sass/regions/_tools.scss */
.tools article:nth-child(even) {
  margin-right: 20px;
}
/* line 16, ../sass/regions/_tools.scss */
.tools article .image-tool {
  margin-right: 10px;
}
/* line 20, ../sass/regions/_tools.scss */
.tools article h1 {
  margin-bottom: 5px;
}
/* line 22, ../sass/regions/_tools.scss */
.tools article h1 a {
  color: #3b73b9;
  font-size: 18px;
}
/* line 28, ../sass/regions/_tools.scss */
.tools article p {
  font-size: 12px;
  margin-bottom: 20px;
}
/* line 33, ../sass/regions/_tools.scss */
.tools article a.btn {
  background: #3a88dc;
  color: #ffffff;
  padding: 8px 10px;
  font-size: 12px;
}

/* line 1, ../sass/regions/_news.scss */
.latest-news {
  display: inline-block;
  width: 299px;
}
/* line 5, ../sass/regions/_news.scss */
.latest-news ul {
  padding: 10px 0;
}
/* line 8, ../sass/regions/_news.scss */
.latest-news ul li {
  padding: 0 15px 10px;
  position: relative;
}
/* line 12, ../sass/regions/_news.scss */
.latest-news ul li:before {
  content: '>>';
  color: #3b73b9;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 10px;
}
/* line 24, ../sass/regions/_news.scss */
.latest-news a {
  font-size: 12px;
  line-height: 18px;
}
/* line 28, ../sass/regions/_news.scss */
.latest-news a:hover {
  color: #3b73b9;
}
/* line 33, ../sass/regions/_news.scss */
.latest-news .all-news {
  color: #3b73b9;
  font-size: 14px;
  position: relative;
  padding-left: 15px;
  display: inline-block;
}
/* line 40, ../sass/regions/_news.scss */
.latest-news .all-news:before {
  content: '>>';
  color: #3b73b9;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0;
  font-size: 10px;
}

/* line 1, ../sass/regions/_banner.scss */
.flex-banner {
  text-transform: uppercase;
  background: #eef0f0;
  text-align: center;
  padding: 50px 0;
  color: #616161;
  font-size: 18px;
  margin-bottom: 60px;
}

/* line 1, ../sass/regions/_footer_menu.scss */
.footer-menu {
  background: #edefef;
  border-top: 1px solid #e6e6e6;
  padding: 20px 0;
}
/* line 6, ../sass/regions/_footer_menu.scss */
.footer-menu .col-6 {
  width: 160px;
  float: left;
}
/* line 11, ../sass/regions/_footer_menu.scss */
.footer-menu h4 {
  padding-bottom: 20px;
}
/* line 13, ../sass/regions/_footer_menu.scss */
.footer-menu h4 a {
  color: #3b3b3b;
  font-size: 20px;
}
/* line 20, ../sass/regions/_footer_menu.scss */
.footer-menu ul li {
  line-height: 20px;
}
/* line 25, ../sass/regions/_footer_menu.scss */
.footer-menu a {
  color: #3b73b9;
}

/* line 30, ../sass/regions/_footer_menu.scss */
.footer-info {
  background: #616161;
  border-top: 3px solid #c7c7c7;
  padding: 20px 0 60px;
  color: #ffffff;
}
/* line 36, ../sass/regions/_footer_menu.scss */
.footer-info .about {
  width: 600px;
}
/* line 40, ../sass/regions/_footer_menu.scss */
.footer-info ul {
  margin-top: 28px;
  display: block;
}
/* line 44, ../sass/regions/_footer_menu.scss */
.footer-info ul li {
  border-top: 1px dotted #bfbfbf;
  padding: 7px 5px;
  text-align: right;
}
/* line 49, ../sass/regions/_footer_menu.scss */
.footer-info ul li a {
  color: #ffffff;
  text-transform: uppercase;
}
/* line 56, ../sass/regions/_footer_menu.scss */
.footer-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #bfbfbf;
}
/* line 63, ../sass/regions/_footer_menu.scss */
.footer-info .copyright {
  margin-top: 30px;
  line-height: 34px;
}
/* line 67, ../sass/regions/_footer_menu.scss */
.footer-info .copyright .slogo {
  padding: 0 0 0 90px;
  height: 34px;
  line-height: 34px;
}
/* line 74, ../sass/regions/_footer_menu.scss */
.footer-info .terms {
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: #bdbdbd;
  margin-top: 20px;
}
