@media screen and (max-width: 480px) {
  /* line 2, ../sass/mobile.scss */
  .mobile-nano {
    visibility: visible;
  }

  /* line 7, ../sass/mobile.scss */
  header > .left, header > .right .top-row, header #logo {
    display: none;
  }
  /* line 11, ../sass/mobile.scss */
  header .bottom-row #search {
    display: none;
  }
  /* line 14, ../sass/mobile.scss */
  header .bottom-row .main-menu {
    width: 100%;
    position: absolute;
    top: 190px;
    left: 0;
    z-index: 99;
    display: none;
  }
  /* line 21, ../sass/mobile.scss */
  header .bottom-row .main-menu.show-menu {
    display: block;
  }
  /* line 23, ../sass/mobile.scss */
  header .bottom-row .main-menu.show-menu:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 40px 30px;
    border-color: transparent transparent #3a88dc transparent;
    content: '';
    position: absolute;
    top: -40px;
    right: 55px;
  }
  /* line 36, ../sass/mobile.scss */
  header .bottom-row .main-menu > li {
    width: 100%;
    margin: 0;
    background: #3a88dc;
    border-bottom: 1px solid #ffffff;
  }
  /* line 41, ../sass/mobile.scss */
  header .bottom-row .main-menu > li:last-child {
    border-bottom: 0;
  }
  /* line 46, ../sass/mobile.scss */
  header .bottom-row .main-menu > li .triangle:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 15px 15px;
    border-color: transparent transparent #ffffff transparent;
    top: 25px;
    right: -20px;
  }
  /* line 57, ../sass/mobile.scss */
  header .bottom-row .main-menu > li a {
    color: #ffffff;
    font-size: 30px;
    padding: 10px 0 10px 30px;
  }
  /* line 64, ../sass/mobile.scss */
  header .bottom-row .main-menu > li .drop-down {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    min-width: 100px;
  }
  /* line 72, ../sass/mobile.scss */
  header .bottom-row .main-menu > li .drop-down .big-header a {
    font-size: 16px;
  }
  /* line 77, ../sass/mobile.scss */
  header .bottom-row .main-menu > li .drop-down .sub-col {
    width: auto;
    border: 0;
    float: none;
  }
  /* line 83, ../sass/mobile.scss */
  header .bottom-row .main-menu > li .drop-down .sub-two-col {
    display: none;
  }
  /* line 90, ../sass/mobile.scss */
  header .mobile-nano {
    padding: 30px;
  }
  /* line 93, ../sass/mobile.scss */
  header .mobile-nano a {
    display: inline-block;
  }
  /* line 96, ../sass/mobile.scss */
  header .mobile-nano .sprite-mobile {
    background: url(../images/sprites/mobile-header-icons.png) 0 0 no-repeat;
    height: 74px;
    width: 74px;
    margin: 22px 0 22px 5px;
  }
  /* line 103, ../sass/mobile.scss */
  header .mobile-nano .mobile-logo {
    background: url("../images/sprites/logo-mobile.png") 0 0 no-repeat;
    height: 119px;
    width: 119px;
  }
  /* line 108, ../sass/mobile.scss */
  header .mobile-nano .mobile-earth {
    background-position: 0 0;
    margin: 22px 0 22px 40px;
  }
  /* line 112, ../sass/mobile.scss */
  header .mobile-nano .mobile-search {
    background-position: -74px 0;
  }
  /* line 115, ../sass/mobile.scss */
  header .mobile-nano .mobile-top-menu {
    background-position: -148px 0;
  }

  /* line 123, ../sass/mobile.scss */
  .slider-content-wrap .slider-content {
    width: 100%;
    padding: 0;
  }

  /* line 128, ../sass/mobile.scss */
  .slider-wrap .slider .slide h6 {
    padding: 0 50px 50px;
    line-height: 40px;
  }

  /* line 133, ../sass/mobile.scss */
  .slider-wrap .slider .slide .button-primary {
    font-size: 22px;
    padding: 10px 20px;
  }

  /* line 138, ../sass/mobile.scss */
  .slider-wrap .slider .slide p {
    display: none;
  }

  /* line 142, ../sass/mobile.scss */
  .header-row {
    font-size: 26px;
  }

  /* line 146, ../sass/mobile.scss */
  .whats-new {
    margin: 30px;
  }
  /* line 150, ../sass/mobile.scss */
  .whats-new .header-row a {
    display: none;
  }
  /* line 155, ../sass/mobile.scss */
  .whats-new .w-slider {
    width: 100%;
  }
  /* line 157, ../sass/mobile.scss */
  .whats-new .w-slider .w-slider-wrapper {
    width: 420px;
  }
  /* line 160, ../sass/mobile.scss */
  .whats-new .w-slider .w-slider-wrapper article {
    margin: 0 0 30px 0;
    width: 420px;
  }
  /* line 164, ../sass/mobile.scss */
  .whats-new .w-slider .w-slider-wrapper article:nth-child(n+4) {
    display: none;
  }
  /* line 168, ../sass/mobile.scss */
  .whats-new .w-slider .w-slider-wrapper article img {
    width: 100%;
  }
  /* line 172, ../sass/mobile.scss */
  .whats-new .w-slider .w-slider-wrapper article .w-description {
    width: 100%;
  }
  /* line 174, ../sass/mobile.scss */
  .whats-new .w-slider .w-slider-wrapper article .w-description h3 {
    padding: 20px 20px 5px;
    font-size: 22px;
  }
  /* line 178, ../sass/mobile.scss */
  .whats-new .w-slider .w-slider-wrapper article .w-description p {
    padding: 0 20px 40px;
    font-size: 18px;
  }

  /* line 189, ../sass/mobile.scss */
  .tools {
    width: 420px;
    margin: 0 30px 30px;
  }
  /* line 193, ../sass/mobile.scss */
  .tools article {
    margin: 20px 0;
    width: 100%;
  }
  /* line 197, ../sass/mobile.scss */
  .tools article .image-tool {
    min-height: 110px;
  }
  /* line 201, ../sass/mobile.scss */
  .tools article h1 {
    margin-left: 100px;
  }
  /* line 203, ../sass/mobile.scss */
  .tools article h1 a {
    font-size: 26px;
  }
  /* line 208, ../sass/mobile.scss */
  .tools article p {
    font-size: 16px;
    margin-left: 100px;
  }
  /* line 213, ../sass/mobile.scss */
  .tools article a.btn {
    font-size: 16px;
    padding: 10px;
  }

  /* line 220, ../sass/mobile.scss */
  .latest-news {
    width: 420px;
    margin: 0 30px 30px;
  }
  /* line 224, ../sass/mobile.scss */
  .latest-news a {
    font-size: 16px;
  }
  /* line 227, ../sass/mobile.scss */
  .latest-news ul {
    padding: 0 10px;
  }
  /* line 230, ../sass/mobile.scss */
  .latest-news ul li:before {
    top: 1px;
    font-size: 16px;
  }
  /* line 236, ../sass/mobile.scss */
  .latest-news .all-news {
    font-size: 16px;
    margin: 0 10px;
    display: block;
  }
  /* line 240, ../sass/mobile.scss */
  .latest-news .all-news:before {
    font-size: 16px;
  }

  /* line 246, ../sass/mobile.scss */
  .divider, .flex-banner, .footer-menu {
    display: none;
  }

  /* line 251, ../sass/mobile.scss */
  .footer-info .about {
    width: 420px;
    margin: 0 30px;
  }
  /* line 256, ../sass/mobile.scss */
  .footer-info ul {
    width: 420px;
    margin: 30px;
  }
  /* line 259, ../sass/mobile.scss */
  .footer-info ul li {
    text-align: left;
  }
  /* line 261, ../sass/mobile.scss */
  .footer-info ul li:first-child {
    border: 0;
  }
  /* line 267, ../sass/mobile.scss */
  .footer-info .copyright {
    width: 420px;
    margin: 0 30px;
  }
  /* line 271, ../sass/mobile.scss */
  .footer-info .copyright .left {
    float: right;
    width: 330px;
  }
  /* line 275, ../sass/mobile.scss */
  .footer-info .copyright .right {
    float: left;
    width: 100%;
  }
  /* line 281, ../sass/mobile.scss */
  .footer-info .terms {
    width: 420px;
    margin: 30px;
    text-align: left;
  }

  /* line 288, ../sass/mobile.scss */
  .container {
    width: 100%;
  }
}
